body {
    font-family: arial;
    color: #2c2c2c;
    background-color: rgb(172, 170, 170);
    display: flex;
    justify-content: center;
}

.cvContainer {
    background-color: rgb(223, 223, 207);
    border-radius: 15px;
    display: inline-block;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    max-width: 45%;
}

.cvContainer h1, h2{
    text-align: center;
}

.myPhoto {
    width: 400px;
    height: auto;
    border-radius: 15px;
}
.imgDiv{
    text-align: center;

}

/*Flexbox Positioning*/
.flexContainer {
    display: flex;
    justify-content: space-around;

}

/*Media Query so that items will display in column when screen is narrow*/
@media (max-width:1000px) {
    .flexContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .myPhoto {
        width: 200px;
        height: auto;
        border-radius: 15px;
    }
}

.flexContainer div {
    border: 2px solid;
    border-radius: 7px;
    width: 210px;
    padding: 8px;
    margin: 2px;
    text-align: center;
}

.flexContainer a {
    text-decoration: none;
}

h1,
h2 {
    text-shadow: 2px 2px #646363;
}

.underline {
    text-decoration: underline;
}

.boldText {
    font-weight: bold;

}

ul {
    list-style-type: square;
}

